In [1]:
set_var={1,2,3,4,5}

In [2]:
set_var

{1, 2, 3, 4, 5}

In [4]:
set_var={"Avenegrs","Ironman","Hitman"}
print(ser_var)
type(set_var)

NameError: name 'ser_var' is not defined

In [6]:
set_var={"Avenegrs","Ironman","Hitman"}
print(set_var)
type(set_var)

{'Avenegrs', 'Hitman', 'Ironman'}

set

In [7]:
set1={"Avengers","Ironman","Captain America"}
set2={"Avengers","Ironman","Captain america","hulk"}

In [8]:
set2.diffrence(set1)

AttributeError: 'set' object has no attribute 'diffrence'

In [9]:
set2.difference(set1)

{'Captain america', 'hulk'}

In [10]:
set1

{'Avengers', 'Captain America', 'Ironman'}

In [11]:
set2

{'Avengers', 'Captain america', 'Ironman', 'hulk'}

In [12]:
set2.diiference(set1)

AttributeError: 'set' object has no attribute 'diiference'

In [13]:
set2.difference(set1)

{'Captain america', 'hulk'}

In [17]:
set1={"Ironman","Captainmarvel","Thor"}
set2={"Ironman","Captainmarvel","Loki"}

In [19]:
set1.difference(set2)

{'Thor'}

In [20]:
set1.intersection(set2)

{'Captainmarvel', 'Ironman'}

In [21]:
set1.union(set2)

{'Captainmarvel', 'Ironman', 'Loki', 'Thor'}

In [23]:
set2.intersection_update(set1)

In [24]:
set2

{'Captainmarvel', 'Ironman'}

In [25]:
dic=()

In [26]:
type(dic)

tuple

In [27]:
dic={}

In [28]:
type(dic)

dict

In [29]:
set_ex={2,3,4,5,6,3}

In [30]:
print(set_ex)

{2, 3, 4, 5, 6}

In [31]:
my_dict={"car1":"Lamorgini", "car2":"Jaguar", "car3":"Audi"}

In [32]:
type(my_dict)

dict

In [33]:
my_dict[2]

KeyError: 2

In [34]:
my_dict['car2']

'Jaguar'

In [35]:
my_dict['car1']

'Lamorgini'

In [40]:
for x in my_dict:
    print(x)

car1
car2
car3

In [41]:
for x in my_dict.values():
    print(x)

Lamorgini
Jaguar
Audi

In [42]:
for v in my_dict.items():
    print(v)

('car1', 'Lamorgini')
('car2', 'Jaguar')
('car3', 'Audi')

In [43]:
my_dict['car1']='maruti'

In [44]:
my_dict()

TypeError: 'dict' object is not callable

In [45]:
my_dict

{'car1': 'maruti', 'car2': 'Jaguar', 'car3': 'Audi'}

In [49]:
car1_model={'Mercedes':1960}
car2_model={'BMW':1972}
car3_model={"Aston martin":1978}

In [51]:
car_model={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [52]:
print(car_model)

{'car1': {'Mercedes': 1960}, 'car2': {'BMW': 1972}, 'car3': {'Aston martin': 1978}}

In [53]:
print(car_model['car1'])

{'Mercedes': 1960}

In [58]:
print(car_model['car2']['BMW'])

1972

In [60]:
print(car_model['car3'][1978])

KeyError: 1978

In [61]:
Tuples.help()

NameError: name 'Tuples' is not defined