In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Column4"])

In [5]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [6]:
df.to_csv('Test1.csv')

In [7]:
type( df.loc['Row1'])

pandas.core.series.Series

In [8]:
df.iloc[0:2,0:2]

      Column1  Column2
Row1        0        1
Row2        4        5

In [9]:
type(df.iloc[0:2,0:2])

pandas.core.frame.DataFrame

In [10]:
df.iloc['Row1']

TypeError: Cannot index by location index with a non-integer key

In [11]:
 df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [12]:
type( df.loc['Row1'])

pandas.core.series.Series

In [14]:
df.iloc[0:2,0:2]

      Column1  Column2
Row1        0        1
Row2        4        5

In [21]:
df.iloc[:,1:].value_counts

<bound method DataFrame.value_counts of       Column2  Column3  Column4
Row1        1        2        3
Row2        5        6        7
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19>

In [22]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

In [23]:
df[['Column1','Column2']]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9
Row4       12       13
Row5       16       17